**.pdf

**.aux
**.bbl
**.bcf
**.blg
**.brf
**.fdb_latexmk
**.fls
**.loe
**.lof
**.log
**.lot
**.nav
**.out
**.pre
**.pytxcode
**.pytxmcr
**.pytxpyg
**.run.xml
**.snm
**.toc
**.synctex.gz
**.synctex(busy)
**.synctex


.DS_Store
